diffusers @ git+https://github.com/huggingface/diffusers@aeac0a00f88dccce233c062f27d59028ed195d9f
transformers==4.49.0
gradio==5.23.3
numpy
Pillow
futures
sentencepiece
sacremoses
einops
timm
scipy
torchsde
xformers
tqdm
peft
compel
huggingface_hub
onnxruntime-gpu
rembg[gpu]
piexif
